.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  background-image: url("./obrazy/tlo2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.8); /* Białe tło z 80% krycia */
  padding: 20px;
  border-radius: 20px;
}

.tytul {
  font-size: 4em;
  margin-bottom: 20px;
}

.opis {
  font-size: 3em;
  max-width: 800px;
}
