body {
  background: linear-gradient(to bottom, #000000, #2c3e50);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.Title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.Subtitle {
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
}

.data {
  font-size: 18px;
  margin: 20px 0;
  color: white;
  cursor: pointer;
}

.data:hover {
  color: #551abc;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.Button1,
.Button2 {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 200px;
}

.Button1:hover,
.Button2:hover {
  background-color: #2980b9;
}
.ButtonContainer {
  margin-left: 500px;
}
